<%# <%= debug @recipes %>
<h1>Recipes</h1>

<div id="recipes">
    <%# TODO: show only if public, owner page later %>
    <% @recipes.each do |recipe| %>
    <div>
        <%= link_to recipe.title, recipe %>
        <%# <%= recipe.photo %>
        <%= recipe.comments %>
    </div>
    <% end %>
</div>