<%# <%= debug @recipes %>
<h1>Recipes</h1>

<div id="recipes">
    <% @recipes.each do |recipe| %>
    <div>
        <%= recipe.title %>
        <%# <%= recipe.photo %>
        <%= recipe.comments %>
    </div>
    <% end %>
</div>