<%# <%= debug @ingredients %>
<div id="ingredients">
  <h1 class="font-bold text-4xl">Ingredients#index</h1>
  <% @ingredients.each do |ingredient| %>
  <div>
    <%= ingredient.name %>
  </div>
  <% end %>
  <p>TODO: Add, edit, delete ingredients</p>
</div>
